@{
    ViewBag.Title = "Maintenance - Models";
}

<h2>@ViewBag.Title</h2><br/>

<div id="models">
    
</div>

@section scripts
{
    <script src="~/Scripts/App/Views/Maintenance/models.js"></script>
}

<script type="text/x-kendo-template" id="toolbarTemplate">
    <div class="toolbar">
        <input id="addModel" type="button" class="k-button gridToolbarButton" value="Add New Record"/>
    </div>
</script>
